
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(223, 215, 215);
    width: 300px;
    padding: 10px;
}

.product-image-container {
    height: 310px;
    display: flex;
    justify-content: center;
}

.product-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
    transition: width .1s, height .1s;
}

.product-image:hover {
    width: 310px;
    height: 310px;
    cursor: pointer;
}

.product-image:active {
    width: 300px;
    height: 300px;
}

.product-link {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.product-link:hover {
    color: rgb(200, 106, 33);
}

.product-title {
    font-size: 20px;
    margin: 0;
}




.cart-button {
    background-color: #ffd814; /* Amazon yellow */
    color: #111;
    border: 2px solid #111;
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    margin-top: 10px;
  }
  
  .cart-button:hover {
    background-color: #f7ca00;
  }
  